/* box-sizing is getting inhertited for psuedo-elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* resetting browser root font-size 16px to 1rem*/
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
